@{
    int currentPage = (int)ViewBag.CurrentPage;
    int totalPages = (int)ViewBag.TotalPages;
}

@if (totalPages > 1)
{
    <nav class="mt-3">
        <ul class="pagination justify-content-center flex-wrap">

            <!-- Previous -->
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                    new System.Web.Routing.RouteValueDictionary(ViewBag.RouteValues) { ["page"] = currentPage - 1 })">
                    &laquo;
                </a>
            </li>

            <!-- Page Numbers -->
            @for (int i = 1; i <= totalPages; i++)
            {
                if (i == 1 || i == totalPages || (i >= currentPage - 2 && i <= currentPage + 2))
                {
                    <li class="page-item @(i == currentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                            new System.Web.Routing.RouteValueDictionary(ViewBag.RouteValues) { ["page"] = i })">
                            @i
                        </a>
                    </li>
                }
                else if (i == currentPage - 3 || i == currentPage + 3)
                {
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                }
            }

            <!-- Next -->
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(),
                    new System.Web.Routing.RouteValueDictionary(ViewBag.RouteValues) { ["page"] = currentPage + 1 })">
                    &raquo;
                </a>
            </li>

        </ul>
    </nav>
}